@import "tailwindcss";

@theme {
  --color-background: #0b0b0d;
  --color-brand: #6b43d1;
  --color-muted: #a9a9db;
}

body {
  font-family: "Geist", sans-serif;
}

.noise-effect {
  background: url("../../public/images/noise.png") cover;
}
